/* Banner do fundo */
.cadastroGato {
    background-color: #FAEAEB;
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#FAEAEB, #FFB8BC);
}

.container-cadastro {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 

/* Formulário */
.card-cadastroGato{
    width: 60%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px 8px #979797;
}
.card-cadastroGato h2{
    color: #F3838D;
    margin-bottom: 0%;
}
.card-cadastroGato p{
    color:#979797;
    margin-bottom: 8%;
    margin-top: 2%;
    font-size: 15px;
    text-align: center;
}

/* Campos de entrada */
.formulario{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario span{
    color: #979797;
}
.formulario input{
    background-color: #f7f7f7;
    width: 300px;
    height: 28px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cfcece;
}
.formulario select{
    background-color: #f7f7f7;
    width: 308px;
    height: 34px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cfcece;
}
::placeholder{
    color: #979797;
}
select:invalid {
    color: #979797;
  }

select {
    color: #979797;
  }
textarea{
    background-color: #f7f7f7;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cfcece;
}
.formulario a{
    text-decoration: none;
    color: #b9b9b9;
    border-bottom:1px solid #b9b9b9;
    font-size: 15px;
    margin-bottom: 20px;
}
.button-cadastrar{
    background-color: #F3838D;
    color: #ffffff;
    font-size: 15px;
    width: 305px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}
