/* banner inicial */
.banner-inicial {
  width: 100vw;
  height: 65vh;
  background-image: url(../assets/imgs/mulher-segurando-seu-adoravel-gatinho-em-casa.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-inicial h1 {
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 8px #3b3b3b;
}

/* Conteudo do catblog */
.conteudo {
  width: 100vw;
  height: auto;
  margin: auto;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-catblog {
  width: 90%;
  height: auto;
  margin: auto;
}

.titulo h2 {
  color: #7b7d81;
  margin-top: 5%;
}

/* usuario */
.usuario{
  width: 90%;
  height: 6vh;
  margin-top: 5%;
  display: flex;
  justify-content: baseline;
}
.usuario h2{
  color: #393D46;
  margin: 0%;
}
.usuario p{
  color: #7b7d81;
  margin: 0%;
}
.usuario img{
  height: 50PX;
  width: 4%;
  margin-right: 5px;
}
.conteudo-usuario{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* artigos */
.artigos {
  width: 90%;
  height: 50vh;
  background-color: #fffafa;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FFB8BC;
}

.card-artigo {
  width: 18vw;
  height: 42vh;
  border-right: 1px solid #FFB8BC;
}

.card-artigo img {
  width: 15vw;
  height: 22vh;
  border-radius: 10px;
}

.card-artigo p {
  color: #393D46;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0%;
}

.card-artigo h3 {
  color: #393D46;
  text-decoration: underline;
  width: 90%;
}

.artigos a {
  text-decoration: none;
}

/* Conheça gatinhos */
.conheca {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-conheca {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-conheca img {
  width: 150px;
}
.container-conheca img:hover {
  width: 170px;
  transition: 0.15s ease-in-out;
}
#gato02{
  width: 170px;
}
#gato02:hover{
  width: 200px;
  transition: 0.15s ease-in-out;
}

/* banner simulado */
.banner-simulado {
  width: 100vw;
  height: 70vh;
  background-image: url(../assets/imgs/adoravel-gatinho-preto-e-branco-com-parede-monocromatica-atras-dela.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-text {
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  margin-right: 10%;
}

.banner-text h1 {
  color: #ffffff;
  text-shadow: rgb(125, 125, 125) 0.1em 0.1em 0.2em;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0%;
}

.banner-text p {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: rgb(125, 125, 125) 0.1em 0.1em 0.2em;
}

.banner-text span {
  color: #FFB8BC;
}

.button-more {
  width: 12vw;
  height: 7vh;
  background-color: #F3838D;
  border: none;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}

.button-more:hover {
  background-color: #FFB8BC;
  transition: 0.15s ease-in-out;
}