.container-dashboard {
    display: flex;
    width: 100%;
    height: auto;
}

/* Nav bar lateral */
.nav-bar-lateral {
    width: 364px;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #FFB8BC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-btn {
    width: 100%;
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.org-btn a {
    background: none;
    color: #393D46;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

/* usuario */
.usuario {
    width: 80%;
    height: 15vh;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.usuario h2 {
    color: #393D46;
    margin: 0%;
}

.usuario p {
    color: #7b7d81;
    margin: 0%;
}

.usuario img {
    height: 50px;
    width: 20%;
    margin-right: 5px;
}

.conteudo-usuario {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* Formulário de pesquisa */
.container-form {
    width: 90vw;
    float: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-formulario {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(91, 91, 91, 0.77);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.card-formulario h1 {
    color: #393D46;
}

/* Campos de entrada */
.formulario {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pergunta{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.button-registrar {
    background-color: #F3838D;
    color: #ffffff;
    font-size: 15px;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

.formulario select {
    background-color: #f7f7f7;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #cfcece;
}

select:invalid {
    color: #979797;
}

select {
    color: #979797;
}

.pergunta p {
    width: 100%;
    color: #979797;
    margin-bottom: 0%;
    margin-top: 2%;
    font-size: 16px;
    text-align: start;
    align-self: flex-start;
}
span{
    color: #F3838D;
    margin-right: 3px;
}