/* Banner simulado */
.simulador{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-simulado {
    width: 70vw;
    height: 80vh;
    background-image: url(../assets/imgs/gato-banner-simulado.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2%;
    border-radius: 20px;
  }
  
  .banner-text {
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-right: 5%;
  
  }
  
  .banner-text h1 {
    color: #ffffff;
    text-shadow: rgb(47, 47, 47) 0.1em 0.1em 0.2em;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0%;
  }
  
  .banner-text p {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: rgb(47, 47, 47) 0.1em 0.1em 0.2em;
  }
  
  .banner-text span {
    color: #F3838D;
  }
  .button-more {
    width: 12vw;
    height: 7vh;
    background-color: #F3838D;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
  }
  
  .button-more:hover {
    background-color: #FFB8BC;
    transition: 0.15s ease-in-out;
  }

  /* perguntas */
  .banner-perguntas{
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border-radius: 20px;
    border: 1px solid #FFB8BC;
  }
  .text-perguntas{

  }